<!DOCTYPE html>
<html>
<head>
    <title>View Recipe - Oven-Roasted Asparagus</title>
    <link rel="stylesheet" type="text/css" href="view_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="https://imgs.search.brave.com/ZqYLQigAomaCdTFYMYEcqGWx1DjeVdoIpdlVHGqcnoE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA2LzI5LzY1LzA4/LzM2MF9GXzYyOTY1/MDg3MF9BUndkMG54/eU9GelJvazNLbDhB/aWZ0WnlFcnRuUTJ2/cy5qcGc">
</head>
<body>
    <header>
        <h1>Odin Recipes</h1>
    </header>   
    <main>
        <section id="recipe-details">
            <h2>Oven-Roasted Asparagus</h2>
            <img src="https://www.allrecipes.com/thmb/4M-zQULer_g49CN-ES1hqpiwCvA=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/1001600_Oven-Roasted-Asparagus-2x1-1-8f6853e3f341479f9b79254b86dd8493.jpg" alt="Oven-Roasted Asparagus">
            <h3>Ingredients:</h3>
            <ul>
                <li>1 pound fresh asparagus, trimmed</li>
                <li>3 tablespoons olive oil</li>
                <li>1 ½ tablespoons grated Parmesan cheese (Optional)</li>
                <li>1 clove garlic, minced (Optional)</li>
                <li>1 teaspoon sea salt</li>
                <li>½ teaspoon ground black pepper</li>
                <li>1 tablespoon lemon juice (Optional)</li>
            </ul>
            <h3>Instructions:</h3>
            <ol>
                <li>Preheat oven to 400°F (200°C).</li>
                <li>Place asparagus on a baking sheet.</li>
                <li>Drizzle with olive oil, salt, and pepper. Toss to coat evenly.</li>
                <li>Bake in preheated oven for 12-15 minutes, or until tender.</li>
                <li>Serve hot and enjoy!</li>
            </ol>
            <a href="../index.html" class="back-button">Back to Recipes</a>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Jeidev. All rights reserved.</p>
    </footer>
</body>
</html>
