<!DOCTYPE html>
<html>
<head>
    <title>View Recipe - Spinach and Strawberry Salad</title>
    <link rel="stylesheet" type="text/css" href="view_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="https://imgs.search.brave.com/ZqYLQigAomaCdTFYMYEcqGWx1DjeVdoIpdlVHGqcnoE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA2LzI5LzY1LzA4/LzM2MF9GXzYyOTY1/MDg3MF9BUndkMG54/eU9GelJvazNLbDhB/aWZ0WnlFcnRuUTJ2/cy5qcGc">
</head>
<body>
    <header>
        <h1>Odin Recipes</h1>
    </header>   
    <main>
        <section id="recipe-details">
            <h2>Spinach and Strawberry Salad</h2>
            <img src="https://www.allrecipes.com/thmb/yMAQ7gdoDN074lN-hsSb20ZmOUY=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/4535439-564adcef998c47bebfcb6d9c5aa2a3df.jpg" alt="Spinach and Strawberry Salad">
            <h3>Ingredients:</h3>
            <ul>
                <li>2 bunches spinach, rinsed and torn into bite-size pieces</li>
                <li>4 cups sliced strawberries</li>
                <li>½ cup vegetable oil</li>
                <li>½ cup white sugar</li>
                <li>2 tablespoons sesame seeds</li>
                <li>1 tablespoon poppy seeds</li>
                <li>¼ teaspoon paprika</li>
            </ul>
            <h3>Instructions:</h3>
            <ol>
                <li>Toss spinach and strawberries together in a large bowl.</li>
                <li>Whisk oil, sugar, vinegar, sesame seeds, poppy seeds, and paprika together in a medium bowl; pour over spinach and strawberries, and toss to coat.</li>
            </ol>
            <a href="../index.html" class="back-button">Back to Recipes</a>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Jeidev. All rights reserved.</p>
    </footer>
</body>
</html>
